
<h1> Meet The Team</h1>
<p>
  <img src="assets/img/team2.jpg" alt="team picture" width="746" height="560">
</p>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/diksha.jpg" alt="diksha" style="width:100%">
      <div class="container">
        <h2>Diksha Gupta</h2>
        <p class="title">Team Lead</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/myra.jpg" alt="myra" style="width:100%">
      <div class="container">
        <h2>Myra Ramdenbourg</h2>
        <p class="title">Team Lead</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/katherine.jpg" alt="katherine" style="width:100%">
      <div class="container">
        <h2>Katherine Ngo</h2>
        <p class="title">Product Manager</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/angela.jpg" alt="diksha" style="width:100%">
      <div class="container">
        <h2>Angela Hwang</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/emmett.jpg" alt="myra" style="width:100%">
      <div class="container">
        <h2>Emmett Bertram</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/gerald.jpg" alt="katherine" style="width:100%">
      <div class="container">
        <h2>Gerald Wang</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/josie.jpg" alt="diksha" style="width:100%">
      <div class="container">
        <h2>Josie Garza</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/ling.jpg" alt="myra" style="width:100%">
      <div class="container">
        <h2>Lingyin Wu</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<iframe width="1440" height="652" src="https://www.youtube.com/embed/bAC7W9w6LCU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--<iframe width="1440" height="652" src="https://www.youtube.com/embed/l2rIU0Z_p6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
