<!--Displays list of rides-->

<div class="container mt-5">
  <!--DESKTOP VIEW-->
  <div class="card-deck d-none d-sm-block">
      <app-search-card (ridesSearch)="onSearch($event)"></app-search-card>
      <div class="mt-2 w-50 mx-auto" style = "margin-left:auto; margin-right:0;">
        <select id="sortResults" #sortResults class="form-control form-control-lg" (change) = "onToggleSort(sortResults.value)">
          <option value="Recent">Sort by Most Recent</option>
          <option value = "Oldest">Sort by Least Recent</option>
        </select>
      </div>

      <app-ride-card *ngFor="let ride of rides" [ride]="ride"  [routerLink]="['/rides', ride._id]"></app-ride-card>
  </div>

<!--MOBILE VIEW-->
  <div class="card-deck d-block d-sm-none">
      <app-search-card (ridesSearch)="onSearch($event)"></app-search-card>
      <app-ride-card *ngFor="let ride of rides" [ride]="ride" [routerLink]="['/rides', ride._id]"></app-ride-card>
  </div>
</div>
