<!--<div class="container mt-5">-->
  <!--<div class="card mt-2" *ngFor="let ride of rides">-->
    <!--<h4 class="card-header">{{ride.title}}</h4>-->
    <!--<div class="card-body">-->
      <!--<p>{{ride.description}}</p>-->
    <!--</div>-->
    <!--<div class="card-footer text-muted">-->
      <!--Departs: {{ride.departure_time | date:'medium'}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container mt-5">
  <div class="card mt-2" *ngFor="let ride of rides">
    <h4 class="card-header" (click)="rideCollapse(ride)">
      Ride to {{ride.title}} departing at {{ride.departure_time | date: 'medium'}}
    </h4>
    <div class="card-body" *ngIf="!ride.collapse">
        <div class="row no-gutters">
            Description: {{ride.description}}
        </div>
        <div class="row no-gutters">
            <div class="col-7">
              <div class="row no-gutters"> Depart time: {{ride.departure_time | date: 'medium'}} </div>
              <div class="row no-gutters"> Arrival time: {{ride.arrival_time | date: 'medium'}} </div>
              <div class="row no-gutters"> Depart address: {{ride.departure_address}} </div>
              <div class="row no-gutters"> Arrival address: {{ride.arrival_address}} </div>
            </div>
            <div class="col-5">
              <div class="row no-gutters"> Available spots: {{ride.spots}} </div>
              <div class="row no-gutters"> Ride cost: ${{ride.cost}} </div>
            </div>
        </div>
    </div>
    <div class="card-footer" *ngIf="!ride.collapse">
        <a href="#" class="card-link">
            Detail view
        </a>
    </div>

  </div>
</div>



