.box {
  width: 70px;
  height: 70px;
  background-color: navy;

}

.center {
  margin: auto;
  width: 50%;
}
.num-date {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
  color: white;
  position: relative;
  right: 13px;
}

.date {
  width: 50%;
  margin: 0px auto;
  font-size: 15px;
  position: relative;
  top: 10px;
  bottom: 60px;
  color: white;
  font-family: helvetica;
}
