<!--Allows user to search for a ride. If search matches a ride, that ride will appear If ride doesn't exist, user can create a new ride.-->

<!--DESKTOP VIEW-->
<div class="d-none d-sm-block">
  <div class="card mt-2 w-50 mx-auto ">
      <form [formGroup]="newSearchForm">
          <div class="card-body ">
              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Departing
                      </div>
                      <form class="form-inline" [formGroup]="newSearchForm">
                          <select class="form-control" id="inlineFormCustomSelectPref" formControlName="departing_from">
                              <option value="Rice">Rice</option>
                              <option value="IAH">IAH</option>
                              <option value="Hobby">Hobby</option>
                          </select>
                      </form>
                  </div>
              </div>

              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Arriving
                      </div>
                      <form class="form-inline" [formGroup]="newSearchForm">
                          <select class="form-control" id="inlineFormCustomSelectPref1" formControlName="arriving_at">
                              <option value="Rice">Rice</option>
                              <option value="IAH">IAH</option>
                              <option value="Hobby">Hobby</option>
                          </select>
                      </form>
                  </div>
              </div>
              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Date
                      </div>
                    <!--Searches for matching ride-->
                      <form class="form-inline" [formGroup]="newSearchForm">

                      <input class="form-control form-control-lg" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="departure_time" placeholder="Choose a departing time">
                        <owl-date-time [hour12Timer]="true"
                                       [startAt]="startAt"
                                       [stepMinute]="15" #dt1></owl-date-time>
                      </form>
                  </div>

              </div>
              <div>
                  <button class="btn-primary btn-md text-center" (click)="search()">
                      Search!
                  </button>
                  <button class="btn-primary btn-md text-center" (click)="newRideForm()">
                      Create a new ride?
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>

<!--MOBILE VIEW-->
<div class="d-block d-sm-none">
  <div class="card mt-2">
      <form [formGroup]="newSearchForm">
          <div class="card-body">
              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Departing
                      </div>
                      <form class="form-inline" [formGroup]="newSearchForm">
                          <select class="form-control" id="inlineFormCustomSelectPref" formControlName="departing_from">
                              <option value="Rice">Rice</option>
                              <option value="IAH">IAH</option>
                              <option value="Hobby">Hobby</option>
                          </select>
                      </form>
                  </div>
              </div>

              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Arriving
                      </div>
                      <form class="form-inline" [formGroup]="newSearchForm">
                          <select class="form-control" id="inlineFormCustomSelectPref1" formControlName="arriving_at">
                              <option value="Rice">Rice</option>
                              <option value="IAH">IAH</option>
                              <option value="Hobby">Hobby</option>
                          </select>
                      </form>
                  </div>
              </div>
              <div class="mb-2">
                  <div class="form-row">
                      <div class="col-4">
                          Date
                      </div>
                      <form class="form-inline" [formGroup]="newSearchForm">
                          <input class="form-control" id="inlineFormCustomSelectPref2" placeholder="01/01/19" formControlName="departure_time">
                      </form>
                  </div>

              </div>
              <div>
                  <button class="btn-primary btn-md text-center" (click)="search()">
                      Search!
                  </button>
                  <button class="btn-primary btn-md text-center" (click)="newRideForm()">
                      Create a new ride?
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
