<div class="card mt-2 w-50 mx-auto ">

  <div class="card-body nopadding">
    <div class="mb-2">
      <div class="form-row">
        <div class="col-4">
          Departing
        </div>
        <form class="form-inline">
          <select class="form-control" id="inlineFormCustomSelectPref">
            <option selected>Departing Location...</option>
            <option value="1">Rice</option>
            <option value="2">IAH</option>
            <option value="3">Hobby</option>
          </select>
        </form>
      </div>
    </div>

    <div class="mb-2">
      <div class="form-row">
        <div class="col-4">
          Arriving
        </div>
        <form class="form-inline">
          <select class="form-control" id="inlineFormCustomSelectPref1">
            <option selected>Arriving Location...</option>
            <option value="1">Rice</option>
            <option value="2">IAH</option>
            <option value="3">Hobby</option>
          </select>
        </form>
      </div>
    </div>
    <div class="mb-2">
      <div class="form-row">
        <div class="col-4">
          Time
        </div>
        <form class="form-inline">
          <input class="form-control" id="inlineFormCustomSelectPref2" placeholder="12:00pm">
        </form>
      </div>

    </div>
    <div>
      <button class="btn-primary btn-md text-center">
        Search!
      </button>
    </div>
  </div>
</div>
