<!--This is the home page.-->

<!--TITLE-->
<div class="jumbotron jumbotron-fluid bg-gradient mb-0 text-center" style="padding: 50px 0 75px 0;">
  <div class="container">
    <!--Original size of the logo: 1583px by 1266px-->
    <img src="assets/img/carpoolll.png" alt="Carpool Logo" width="164" height="274">
    <h1 class="display-3" style="font-family: Helvetica">Carpool</h1>
    <p class="lead text-center" style="color:#FFFFFF; font-family: Helvetica">The reign of Google Sheets is over</p>
    <hr class="my-4">
    <p class="lead ">
      <a class="btn btn-outline-secondary btn-lg" *ngIf ="!(loggedIn | async)" [attr.href]="authUrl" role="button">Login with netID</a>
      <a class="btn btn-outline-secondary btn-lg" style="color: white" *ngIf ="(loggedIn | async )" (click)="navigateToRides()" role="button">GET RIDE!</a>
    </p>
  </div>
</div>

<!--SUBTITLE-->
<div class="jumbotron jumbotron-fluid background_rice">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-user gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 1</h4>
                <p class="card-text">Sign up with your Rice ID and head to your profile to set up your name and phone number.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-car gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 2</h4>
                <p class="card-text">Make or join a ride using the links at the top of the page. Search for rides on certain dates or to certain places.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-money gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 3</h4>
                <p class="card-text">Watch your email for updates on your ride. Attend rides with fellow Rice students to save money!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
