<!--This is the home page.-->

<!--TITLE-->
<div class="jumbotron jumbotron-fluid bg-gradient mb-0 text-center" style="padding: 75px 0 75px 0;">
  <div class="container">
    <h1 class="display-3" style="font-family: Helvetica">Carpool</h1>
    <p class="lead text-center">The reign of Google Sheets is over</p>
    <hr class="my-4">
    <p class="lead ">
      <a class="btn btn-secondary btn-lg" *ngIf ="!(loggedIn | async)" [attr.href]="authUrl" role="button">Login with netID</a>
      <a class="btn btn-secondary btn-lg" *ngIf ="(loggedIn | async )" (click)="navigateToRides()" role="button">GET RIDE!</a>
    </p>
  </div>
</div>

<!--SUBTITLE-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="section-title">
      <h3>How it works:</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-user gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 1</h4>
                <p class="card-text">Sign up with your Rice ID to start your Rice Carpool experience!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-car gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 2</h4>
                <p class="card-text">Make or join a ride using the links at the top of the page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-money gradient-fill ti-3x mr-3">
              </span>
              <div class="media-body">
                <h4 class="card-title">Step 3</h4>
                <p class="card-text">The more rides you take the more money you save!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
