<div class="container new-ride-container mt-5">
  <form [formGroup]="newRideForm">

    <div class="card mb-4">
      <div class="card-body">
        <h4>Tell us about your ride!</h4>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <ng2-flatpickr [formControlName]="dateTime"></ng2-flatpickr>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="departureInput">Departing from:</label>
              <select id="departureInput" formControlName="departingFrom" class="form-control form-control-lg">
                <option>Rice</option>
                <option>IAH</option>
                <option>Hobby</option>
              </select>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="arrivalInput">Arriving at:</label>
              <select id="arrivalInput" formControlName="arrivingAt" class="form-control form-control-lg">
                <option>Rice</option>
                <option>IAH</option>
                <option>Hobby</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="form-group">
          <label for="meetingInput">Meeting at:</label>
          <input formControlName="meetingAt" type="text" class="form-control" id="meetingInput" placeholder="Sallyport">
        </div>
      </div>
    </div>

  </form>
</div>
