<!--This needs a mobile and desktop version. When a user wants to create a new ride, this form will appear.-->

<div class="container new-ride-container mt-5">

  <form [formGroup]="newRideForm">

    <div class="card mb-4">
      <div class="card-body">
        <h4>Tell us about your ride!</h4>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        How many riders?
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="numberInput">Max number of riders:</label>
              <!--This is a drop down menu type thing-->
              <select id="numberInput" formControlName="number_riders" required class="form-control form-control-lg">
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--WHEN-->
    <div class="card mb-4">
      <div class="card-header">
        When is your ride?
      </div>
      <div class="card-body">
        <div class="row">
          <input class="form-control form-control-lg" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="date_time" placeholder="Date Time" ng-required="true">
          <owl-date-time [hour12Timer]="true"
                         [startAt]="startAt"
                         [stepMinute]="15" #dt1></owl-date-time>
        </div>
      </div>
    </div>
    <!--WHERE-->
    <div class="card mb-4">
      <div class="card-header">
        Where to and where from?
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="departureInput">Departing from:</label>
              <!--This is a drop down menu type thing-->
              <select id="departureInput" formControlName="departing_from" required class="form-control form-control-lg" >
                <option>Rice</option>
                <option>IAH</option>
                <option>Hobby</option>
              </select>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="arrivalInput">Arriving at:</label>
              <select id="arrivalInput" required formControlName="arriving_at" class="form-control form-control-lg">
                <option>Rice</option>
                <option>IAH</option>
                <option>Hobby</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        Where are you meeting?
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="meetingInput">Meeting at:</label>
          <input required formControlName="meeting_at" type="text" class="form-control-lg" id="meetingInput" placeholder="Sallyport">
        </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" (click)="submit()">Submit</button>
  </form>
</div>
