.box {
  width: 120px;
  height: 120px;
  background-color: navy;
}
.num-date {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
  color: white;
  position: relative;
  right: 13px;
}

.date {
  width: 50%;
  margin: 0px auto;
  font-size: 19px;
  position: relative;
  top: 10px;
  bottom: 60px;
  color: white;
  font-family: helvetica;
  text-align: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
