/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.btn {
  cursor: pointer;
}

.new-ride-container {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .new-ride-container {
    width: 100%;
  }
}
